<!DOCTYPE html>
<html lang="en">
<script defer src="/js/index.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/styleIndex.css"/>
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <title>Gastro2Go</title>
</head>

<body>

<header>
    <div class="headerItemImg">
        <div>
            <a href="/"><img class="GastroIcon" src="/img/GASTRO.png" alt="???"></a>
        </div>
    </div>
    <div class="headerItem">
        <a href="/users/panel">Dane Użytkownika</a>
        <a href="/users">Twój Koszyk</a>
        <a href="/users/orders">Twoje zamówienia</a>
        <a href="/info/kontakt">Kontakt</a>
        <a href="/info/onas">O Nas</a>
        <!-- <a href="/auth/logout">Wyloguj</a> -->
    </div>
</header>

<main>


</main>

<footer>
    <div>
        <p>Jakub Żarkowski S16574</p>
    </div>


</footer>

</body>

</html>
